#container {
	width: 800px;
	height: 600px;
	display: block;
	margin: 0 auto;
	clear: both;
	background-color: #b6d3f7;
	background-image: -webkit-linear-gradient(315deg, #fff, #b6d3f7 10%, #b6d3f7 50%, #fff);
	background-image: -moz-linear-gradient(315deg, #fff, #b6d3f7 10%, #b6d3f7 50%, #fff);
	background-image: -o-linear-gradient(315deg, #fff, #b6d3f7 10%, #b6d3f7 50%, #fff);
}

#overlay {
	width: 800px;
	height: 600px;
	position: relative;
	top: 0px;
	background: rgba(255, 255, 255, .7);
	display: none;
	opacity: 0;
	-webkit-transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
}

#overlay img.generating {
	position: absolute;
	left: 185px;
	top: 245px;
}

#overlay .progress {
	position: absolute;
	left: 192px;
	top: 325px;
	display: block;
	width: 400px;
	height: 24px;
	border: 4px #000 solid;
	background: #fff;
}
#overlay .progress > div {
	width: 0%;
	background: #0c0;
	height: 24px;
}

#menu {
	height: 600px;
	width: 198px;
	margin: 15px 0 0 0;
	padding: 0;
	float: left;
}
#menu img {
	border: 0;
}
#menu button {
	display: block;
	border: 0;
	width: 187px;
	height: 32px;
	margin: 10px 6px;
	cursor: pointer;
	background-image: url(images/button.png);
	text-align: center;
	font: bold 14px helvetica, sans, serif;
	color: #000;
}
#menu button:hover {
	background-image: url(images/button_over.png);
}
#menu button:active {
	position: relative;
	top: 2px;
	left: 2px;
}

canvas {
	display: block;
	float: left;
	margin: 10px 5px 10px 10px;
	cursor: none;
	outline: 0;
}
